<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <title>Dashboard - </title>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>
          <span class="fa fa-anchor">My Connections</span>
          <a href="logout" class="btn btn-default">logout</a>
        </h1>
      </div>
    </div>
  <div class="col-sm-6">
    <div class="well">
      <h3 class="text-primary"><span>Local Connection</span></h3>
      <% if(user.local.email) { %>
        <p><strong>email: </strong><%= user.local.email%></p>
        <p><strong>userKey: </strong><%= user.local.password%></p>
        <a href="/unlink/facebook" class="btn btn-primary">unlink</a>
      <%}else{%>
        <a href="/connect/local" class="btn btn-primary">connect</a>
      <%}%>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="well">
      <h3 class="text-primary"><span>Facebook</span></h3>
      <% if(user.facebook.token) { %>
        <p><strong>id :</strong><%= user.facebook.id%></p>
        <p><strong>token :</strong><%= user.facebook.token%></p>
        <p><strong>email :</strong><%= user.facebook.email%></p>
        <p><strong>name :</strong><%= user.facebook.name%></p>

        <a href="/unlink/facebook" class="btn btn-primary">unlink</a>
      <%}else{%>
        <a href="/connect/facebook" class="btn btn-primary">connect</a>
      <%}%>
    </div>
  </div>
  </body>
</html>
